---
layout: page
title: About
permalink: /
---

<div class="tile">
    <div class="tile is-child is-11.5">
        <div class="padded-block columns is-flex-mobile is-centered is-vcentered" style="margin-top: 0; margin-bottom: 0.5rem;">
            <figure id="my-picture" class="media-left image is-128x128" style="background-color: aliceblue;">
                <img class="is-rounded" alt="{{ site.author.name }}" src="{{ site.author.avatar | prepend: '/assets/img/' | relative_url }}">
            </figure>
            <div class="media-content">
                <ul>
                    <p>
                        <span class="is-size-4">{{ site.author.name }}</span> – {{ site.author.tagline }}
                    </p>
                    <hr style="margin-top: 2px; margin-bottom:10px;">
                    <p>
                        {{ site.author.bio-short }}
                    </p>
                </ul>
            </div>
        </div>
    </div>
</div>


{% assign latest = site.data.publications.first %}
<div class="tile">
    <div class="tile is-child is-5" style="max-height: 240px;">
        <div class="padded-block">
            <span class="title"><button
                    class="ghost-button tag is-danger is-light has-text-weight-bold is-medium tile-header is-large"><i
                        class="fa-regular fa-hand-point-right"></i>&nbsp;&nbsp;Latest Publication</button></span>
            <a href="{{ latest.links[0].url }}" target="_blank" rel="noopener noreferrer">
                <div class="columns is-centered is-vcentered" style="margin: 0; padding-top: 0.75em; max-height: 144px;">
                    <figure class="media-left image is-128x128 is-hidden-mobile" style="border-radius: 4px; box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25);">
                        <img src="{{ latest.cover | prepend: '/assets/img/covers/' | relative_url }}">
                    </figure>
                    <div class="media-content">
                        <p style="display: -webkit-box; -webkit-line-clamp: 4; line-clamp: 4; -webkit-box-orient: vertical; font-weight: 600; max-height: 100px; overflow: hidden;">
                            {{ latest.title }}
                        </p>
                        <p class="conference-title">{{ latest.venue-short }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="tile is-child">
        <a href="{{ '/news/' | relative_url }}" style="text-decoration: none; color: inherit;">
            <div class="padded-block" style="margin-right: 0 !important;">
                <span class="title"><button
                            class="ghost-button tag is-info is-light has-text-weight-bold is-medium tile-header is-large"><i
                                class="fa-solid fa-newspaper"></i>&nbsp;&nbsp;News</button></span>
                <div class="scrollable-container">
                    <div class="scrollable-content" style="height: 144px;">
                        <table>
                            {% for item in site.data.news %}
                            <tr>
                                <td class="no-wrap"><span>{{ item.date | date: "%b %Y" }}</span></td>
                                <td class="no-wrap">&nbsp;<i class="fa-solid fa-chevron-right fa-2xs fa-fw"></i>&nbsp;
                                </td>
                                <td>
                                    {{ item.news }}
                                    {% if item.image or item.images %}
                                    &nbsp;<i class="fa-solid fa-image fa-xs" style="color: #3e8ed0;" title="This news item has an associated image"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="tile">
    <div class="tile is-child is-8">
        <div class="padded-block" style="margin-right: 0 !important;">
            <span class="title"><button
                    class="ghost-button tag is-success is-light has-text-weight-bold is-medium tile-header is-large"><i
                        class="fa-regular fa-user"></i>&nbsp;&nbsp;Bio</button></span><br>
            <div class="scrollable-container">
                <div class="scrollable-content" style="height: 324px;">
                    {{ site.author.bio }}
                </div>
            </div>
        </div>
    </div>

    <div class="tile is-child gallery" style="background-color: #222; padding: 0; min-height: unset;">
        <div class="film-strip">
            {% for item in site.data.gallery %}
            <div class="gallery-wrap" tabindex="0">
                <img loading="lazy" class="gallery-image" src="{{ item.image | prepend: '/assets/img/gallery/' | relative_url }}" alt="{{ item.caption }}">
                <p class="gallery-caption">{{ item.caption }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="tile">
    <div class="tile is-vertical is-6">
        <div class="tile" style="height: 150px;">
            <div class="tile is-child">
                <div class="padded-block">
                    <span class="title"><button
                                    class="ghost-button tag is-warning is-light has-text-weight-bold is-medium tile-header is-large">
                                    <i class="fa-solid fa-building-columns"></i>&nbsp;&nbsp;Education</button></span>
                    <ul class="fa-ul">
                        {% for item in site.data.education %}
                        <li>
                            <span class="fa-li"><i class="{{ item.icon }} fa-fw"></i></span>{{ item.degree }}, {{ item.university }}, {{ item.year }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="tile" style="height: 200px;">
            <div class="tile is-child">
                <div class="padded-block">
                    <span class="title"><button
                        class="ghost-button tag is-info is-light has-text-weight-bold is-medium tile-header is-large"><i
                            class="fa-solid fa-screwdriver-wrench"></i>&nbsp;&nbsp;Skills</button></span>
                    <ul class="fa-ul skill-ul">
                        <li><span class="fa-li"><i class="fa-solid fa-code fa-2xs fa-fw"></i></span>Main Programming Languages: {% for item in site.data.skills.languages.programming %} {{ item }}{% if forloop.last != true %},{% endif %}{% endfor %}</li>
                        <li><span class="fa-li"><i class="fa-solid fa-toolbox fa-2xs fa-fw"></i></span>Favourite Tools: {% for item in site.data.skills.tools %} {{ item }}{% if forloop.last != true %},{% endif %}{% endfor %}</li>
                        <li><span class="fa-li"><i class="fa-solid fa-language fa-2xs fa-fw"></i></span>Human Languages: {% for item in site.data.skills.languages.human %} {{ item }}{% if forloop.last != true %},{% endif %}{% endfor %}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tile" style="height: 180px;">
            <div class="tile is-child">
                <div class="padded-block">
                    <span class="title"><button
                                    class="ghost-button tag is-error is-light has-text-weight-bold is-medium tile-header is-large"><i
                                        class="fa-solid fa-briefcase"></i>&nbsp;&nbsp;Experience</button></span>
                    <ul class="fa-ul chevron-ul">
                        {% for item in site.data.experience %}
                        <li>
                            <span class="fa-li"><i class="fa-solid fa-chevron-right fa-2xs fa-fw"></i></span>{{ item.title }} @ {{ item.org }}, {{ item.year }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="tile is-vertical">
        <div class="tile">
            <div class="tile is-child">
                <div class="padded-block">
                        <span class="title"><button
                                    class="ghost-button tag is-success is-light has-text-weight-bold is-medium tile-header is-large"><i
                                        class="fa-solid fa-trophy"></i>&nbsp;&nbsp;Awards</button></span>
                    <div class="scrollable-container">
                        <div class="scrollable-content" style="height: 300px;">
                            <ul class="fa-ul chevron-ul">
                                {% for item in site.data.awards %}
                                <li>
                                    <span class="fa-li"><i class="fa-solid fa-chevron-right fa-2xs fa-fw"></i></span>{{ item }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tile">
            <div class="tile is-child">
                <div class="padded-block">
                    <span class="title"><button
                                    class="ghost-button tag is-danger is-light has-text-weight-bold is-medium tile-header is-large"><i
                                        class="fa-solid fa-file-text"></i>&nbsp;&nbsp;Publications</button></span>
                    <ul class="fa-ul chevron-ul">
                        {% for item in site.data.publications %}
                        <li>
                            <span class="fa-li"><i class="fa-solid fa-chevron-right fa-2xs fa-fw"></i></span>
                            <a href="{{ item.links[0].url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a>
                            <br><small>{{ item.venue-short }}, {{ item.year }}</small>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="tile is-child">
    <div class="padded-block">
            <span class="title"><button
                        class="ghost-button tag is-warning is-light has-text-weight-bold is-medium tile-header is-large">
                        <i class="fa-solid fa-handshake-angle"></i>&nbsp;&nbsp;Academic Service</button></span>
        <p style="padding-bottom: 2px; font-weight: 700;">Volunteering</p>
        <ul class="fa-ul skill-ul">
            {% for item in site.data.service.volunteering %}
            <li>
                <span class="fa-li"><i class="fa-solid fa-user fa-2xs fa-fw"></i></span>{{ item }}
            </li>
            {% endfor %}
        </ul>
        <p style="padding-top: 2px; padding-bottom: 2px; font-weight: 700;">Reviewing</p>
        <ul class="fa-ul skill-ul">
            {% for item in site.data.service.reviewing %}
            <li>
                <span class="fa-li"><i class="fa-solid fa-glasses fa-2xs fa-fw"></i></span>{{ item }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div> -->

<div class="tile">
    <div class="tile is-child">
        <div class="padded-block button-container" style="padding-bottom: 0em; margin-bottom: 0em;">
            <div style="padding-right: 1em; padding-left:0.2em;">
                <button
                    class="ghost-button tag is-light has-text-weight-bold is-medium tile-header is-large"> <i
                        class="fa-solid fa-file-lines"></i>&nbsp;&nbsp;Curriculum Vitæ</button>
            </div>
            <p class="is-size-55"><a style="pointer-events: none;" href="{{ '/assets/CV_Nanda.pdf' | relative_url }}" target="_blank", rel="noopener noreferrer"><i class="fa-solid fa-download"></i>&nbsp;Download</a> (Last updated: coming soon)</p>
        </div>
    </div>
</div>
