---
layout: page
title: Talks
permalink: /talks/
---

<div class="tile">
    <div class="tile is-child">
        <div class="padded-block">
            <span class="title"><button
                class="ghost-button tag is-info is-light has-text-weight-bold is-medium tile-header is-large"><i
                    class="fa-solid fa-microphone"></i>&nbsp;&nbsp;Talks</button></span>
            <div style="padding-top: 1em;">
                {% if site.data.talks.size > 0 %}
                {% for talk in site.data.talks %}
                <div class="box" style="margin-bottom: 1.5em;">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong class="is-size-5">{{ talk.title }}</strong>
                                    {% if talk.venue %}
                                    <br>
                                    <span class="tag is-light is-info">{{ talk.venue }}</span>
                                    {% endif %}
                                    {% if talk.date %}
                                    <span class="tag is-light">{{ talk.date | date: "%b %Y" }}</span>
                                    {% endif %}
                                </p>
                                {% if talk.abstract %}
                                <p>{{ talk.abstract }}</p>
                                {% endif %}
                            </div>
                            {% if talk.video %}
                            <div style="margin-top: 1em;">
                                <div class="video-container" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; border-radius: 8px;">
                                    <iframe
                                        src="{{ talk.video }}"
                                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; border-radius: 8px;"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </article>
                </div>
                {% endfor %}
                {% else %}
                <p class="has-text-grey-light">No talks yet. Check back soon!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
